<nav class="navbar navbar-expand-lg navbar-dark"
  style="box-shadow: 0px 5px 8px 2px rgba(72, 63, 94, 0.247); background-color: rgb(53, 48, 78)">
  <div class="container-fluid">
    <img style="margin-left: 5px; height: 50px; width: 100px; display: inline-block;"
      src="https://e7.pngegg.com/pngimages/1011/581/png-clipart-w-hotel-logo-illustration-w-hotels-w-barcelona-starwood-marriott-international-hotel-logo-angle-text.png">
    <a class="navbar-brand" href="/hotelIndex"><span style=" margin-left: 15px; color: white;">Hotels</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> </a>
        </li>
      </ul>
      <div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a id="admin-logout-btn" style="cursor: pointer;" class="nav-link text-white" aria-current="page">Logout</a>
          </li>
          <li class="nav-item">
            <!-- <a type="button" class="btn nav-link text-white" data-bs-toggle="modal"
          data-bs-target="#exampleModal">Login</a> -->
            <a id="admin-login-link" type="button" class="btn nav-link text-white" data-bs-target="#exampleModalToggle"
              data-bs-toggle="modal"><span style="margin-right: 15px;">Login</span></a>
            <a style="text-decoration: none;" href="/adminPanel">
              <h5 style="color: rgb(221, 214, 214); margin-left: 15px; margin-top: 7px;" id="logged-in-status-admin"></h5>
            </a>
          </li>
          <img style="height:50px; width: 50px; margin-left: -10px;"
            src="https://fc01.deviantart.net/fs71/f/2012/029/f/1/user_icom_by_adeptusmagos-d4o017u.png">
        </ul>
      </div>
    </div>
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
      tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Admin Login</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- Registered Admin (Login Form) -->
            <form action="/adminLogin" method="post">
              <div class="mb-3">
                <label for="adminId" class="form-label">Admin Id</label>
                <input type="text" class="form-control" id="adminId" name="adminId">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <div class="input-group">
                  <input type="password" class="form-control" id="password" name="password">
                  <button class="btn btn-outline-secondary" type="button" id="password-toggle"
                    style="border-color: rgb(194, 192, 192); border-width: 1px;">
                    <i style="font-size: 18px;" class="fa">&#xf06e;</i>
                  </button>
                </div>
              </div>
              <u>
                <p style="cursor: pointer;">forgot password ?</p>
              </u>
              <a data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                style="cursor: pointer; color: rgb(11, 107, 163);" onmouseover="this.style.color='brown';"
                onmouseout="this.style.color='rgb(11, 107, 163)';"><b>Create New Account :</b></a>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Login</button>
              </div>
            </form>

          </div>
          <!-- <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Open second modal</button>
      </div> -->
        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
      tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <!-- New registration Form -->
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Create New Account</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/adminRegister" method="post">
              <div class="mb-3">
                <label for="userName" class="form-label">UserName</label>
                <input type="text" class="form-control" id="userName" name="admins[adminName]">
              </div>
              <div class="mb-3">
                <label for="userId" class="form-label">User Id</label>
                <input type="text" class="form-control" id="userId" name="admins[adminId]">
              </div>
              <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" name="admins[address]">
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" name="admins[email]">
              </div>
              <div class="mb-3">
                <label for="profilePic" class="form-label">Profile Pic</label>
                <input type="text" class="form-control" id="profilePic" name="admins[adminProfile]"
                  placeholder="Paste your image url address here">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">password</label>
                <input type="text" class="form-control" id="userPassword" name="admins[password]">

              </div>
              <div class="mb-3">
                <label for="cPassword" class="form-label">Confirm Password</label>

                <div class="input-group">
                  <input type="password" class="form-control" id="cPassword" name="admins[confirmPassword]">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- eye view icon:-> to view password toggle icon -->
<script>
  document.getElementById('password-toggle').addEventListener('click', function () {
    var passwordInput = document.getElementById('password');
    if (passwordInput.type === 'password') {
      passwordInput.type = 'text';
    } else {
      passwordInput.type = 'password';
    }
  });
</script>
<script>
document.getElementById('admin-logout-btn').addEventListener('click', ()=>{
  fetch('/adminLogout', {method:'GET'})
  .then(response => {
    if(response.redirected){
      window.location.href = response.url;
    }
  })
  .catch(error => console.error('Error logging:', error));
});

  function updateAdminLoginStatus() {
    fetch('/check-admin-login-status')
      .then(response => response.json())
      .then(data => {
        if (data.adminLoggedIn) {
          console.log("adminLoggedIn::::::::",data.adminLoggedIn);
          document.getElementById('logged-in-status-admin').innerText = `${data.adminName}`;
          document.getElementById('admin-logout-btn').style.display = 'block';
          document.getElementById('admin-login-link').style.display = 'none';
        } else {
          document.getElementById('logged-in-status-admin').innerText = '';
          document.getElementById('admin-login-link').style.display = 'block';
          document.getElementById('admin-logout-btn').style.display = 'none';
        }
      })
      .catch(error => console.error('Error checking login status', error));
  }
  updateAdminLoginStatus();
</script>