<!-- <div class="container-fluid" style="display: flex; align-items: center;">
  <img style="height: 100px; width: 100px; display: inline-block;" src="https://img.freepik.com/free-vector/colorful-letter-gradient-logo-design_474888-2309.jpg?size=338&ext=jpg&ga=GA1.1.735520172.1711324800&semt=ais">
  <nav class="nav mt-3" style="display: flex; flex-direction: row;">
    <a class="nav-link active" aria-current="page" href="#">Hotels</a>
    <a class="nav-link" href="#">Home</a>
    <a class="nav-link" href="#">About Us</a>
    <a class="nav-link" href="#">Contact Us</a>
    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
  </nav>
</div> -->

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: transparent; height: 100px;">
  <img style="margin-left: 5px; height: 50px; width: 100px; display: inline-block;"
    src="https://e7.pngegg.com/pngimages/1011/581/png-clipart-w-hotel-logo-illustration-w-hotels-w-barcelona-starwood-marriott-international-hotel-logo-angle-text.png">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="/hotelIndex">Hotels</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="#about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="#">Contact Us</a>
        </li>
      </ul>

      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a id="logout-btn" style="cursor: pointer;" class="nav-link text-white" aria-current="page">Logout</a>
          <!-- <button id="logout-btn" style="display: none;">Logout</button> -->
        </li>
        <li class="nav-item">
          <a id="adminBtn" class="nav-link text-white active" aria-current="page" href="/adminLogin">Admin-Login </a>
        </li>
        <li class="nav-item">
          <a id="login-link" type="button" class="btn nav-link text-white" data-bs-target="#exampleModalToggle"
            data-bs-toggle="modal"> | &nbsp;&nbsp;User-Login</a>
          <a style="text-decoration: none;" href="#">
            <h5 style="color: rgb(221, 214, 214); margin-left: 15px; margin-top: 7px;" id="logged-in-status"> </h5>
          </a>
        </li>
      </ul>
    </div>
    <img
      style="width: 50px; margin-left: 15px; height: 50px; border-radius: 50%; border: solid #ccc; object-fit: cover; object-position: center; display: inline;"
      src="" id="logged-in-img-status"></img>
  </div>
</nav>

<!-- Modals -->
 
<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Login</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Registered Users (Login Form) -->
        <form action="/login" method="post">
          <div class="mb-3">
            <label for="UserId" class="form-label">UserId</label>
            <input type="text" class="form-control" id="userId" name="userId">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <div class="input-group">
              <input type="password" class="form-control" id="password" name="password">
              <button class="btn btn-outline-secondary" type="button" id="password-toggle"
                style="border-color: rgb(194, 192, 192); border-width: 1px;">
                <i style="font-size: 18px;" class="fa">&#xf06e;</i>
              </button>
            </div>
          </div>
          <u>
            <p style="cursor: pointer;">forgot password ?</p>
          </u>
          <a data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" style="cursor: pointer; color: rgb(11, 107, 163);"><b>Create New Account :</b></a>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </form>
       
      </div>
      <!-- <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Open second modal</button>
      </div> -->
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <!-- New registration Form -->
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Create New Account</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/userRegister" method="post">
          <div class="mb-3">
            <label for="userName" class="form-label">UserName</label>
            <input type="text" class="form-control" id="userName" name="users[userName]">
          </div>
          <div class="mb-3">
            <label for="userId" class="form-label">User Id</label>
            <input type="text" class="form-control" id="userId" name="users[userId]">
          </div>
          <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" id="address" name="users[address]">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" name="users[email]">
          </div>
          <div class="mb-3">
            <label for="profilePic" class="form-label">Profile Pic</label>
            <input type="text" class="form-control" id="profilePic" name="users[profilePic]" placeholder="Paste your image url address here">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">password</label>
            <input type="text" class="form-control" id="userPassword" name="users[password]">
            
          </div>
          <div class="mb-3">
            <label for="cPassword" class="form-label">Confirm Password</label>
            
            <div class="input-group">
              <input type="password" class="form-control" id="cPassword" name="users[confirmPassword]">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- eye view icon:-> to view password toggle icon -->
<script>
  document.getElementById('password-toggle').addEventListener('click', function () {
    var passwordInput = document.getElementById('password');
    if (passwordInput.type === 'password') {
      passwordInput.type = 'text';
    } else {
      passwordInput.type = 'password';
    }
  });
</script>

<script>
  document.getElementById('logout-btn').addEventListener('click', ()=>{
fetch('/logout', {method: 'GET'})
.then(response => {
  if(response.redirected){
    window.location.href = response.url;
  }
})
.catch(error => console.error('Error logging out:', error));
  });

  function updateLoginStatus(){
    fetch('/check-login-status')
    .then(response => response.json())
    .then(data => {
      if(data.loggedIn){
        document.getElementById('logged-in-status').innerText = `${data.userName}`;
        document.getElementById('logout-btn').style.display = 'block';
        document.getElementById('logged-in-img-status').src = `${data.profilePic}`;
        document.getElementById('adminBtn').style.display = 'none';
       document.getElementById('login-link').style.display = 'none';
      }else{
        document.getElementById('logged-in-status').innerText = '';
        document.getElementById('login-link').style.display = 'block';
        document.getElementById('logout-btn').style.display = 'none';
        document.getElementById('adminBtn').style.display = 'block';
        document.getElementById('logged-in-img-status').style.display = 'none';
      }
    })
    .catch(error => console.error('Error checking login status', error));
  }
  updateLoginStatus();
</script>
 
