<body style="background-image: url('https://media.istockphoto.com/id/1803998191/photo/close-up-soldier-man-hand-check-authorization-to-access-security-data-with-privacy-virtual.jpg?s=612x612&w=0&k=20&c=9vr2wJxiJsYyoh38mYgj1oA58UOTfh_gCb8H1M_2HC4='); background-repeat: no-repeat;background-size: cover;">
<%- include('../partials/header') %>
<%- include('../partials/adminLoginNavbar') %>
<h1 style="text-align: center;" class="text-white">Admin login page</h1>
 
 <div class="container">
  <div class="row">
    <div class="col-lg-10">
      
    </div>
  </div>
 </div>
 
 
 
<%- include('../partials/footer') %>
</body>