<body style="background-image: linear-gradient(rgb(43, 33, 126),rgb(74, 150, 185))">
  <!-- Your HTML content here -->
  <%- include('../partials/header') %>
    <%- include('../partials/navbar') %>
      <div class="container mt-3 shadow"style="background-image: linear-gradient(rgb(15, 33, 100),rgb(74, 130, 150)); border-radius:7px;">
        <h5 style="color: white; text-align: center;">About Us</h5>
        <div class="container mt-5" id="about">
          <div class="row">
            <div class="col-lg-11 m-auto d-flex justify-content-between">
              <div class="col-lg-7">
                <p style="color: white;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit dolorem ex reprehenderit voluptatibus,
                  aliquid et recusandae totam suscipit repudiandae porro beatae, temporibus iusto tenetur excepturi incidunt
                  voluptatem unde, error pariatur.
                  Blanditiis, sapiente obcaecati nostrum voluptate iusto possimus nihil. Magnam, totam id. Pariatur totam
                  consectetur inventore facere laudantium ut voluptatibus aspernatur commodi. Consectetur, alias quis
                  aperiam facilis porro optio soluta tenetur?
                  Tempore assumenda ullam quidem! Consequuntur ut aliquid illum ad cum dolorem ducimus nihil numquam esse
                  itaque voluptates molestiae aliquam minima obcaecati, at in autem officia eos quibusdam voluptate.
                  Quibusdam, consequuntur!
                  Minus magni quis itaque sunt corrupti ipsam, molestias repudiandae aliquam aspernatur pariatur quaerat?
                  </p>
              </div>
              <div class="col-lg-4">
                <img class="mt-3 mb-3" style="height: 90%; width: 100%; box-shadow: 0px 2px 6px 2px rgb(136, 176, 185);"
                src="https://t4.ftcdn.net/jpg/00/46/07/55/240_F_46075517_EuzqL0cGOzzPcPL5YHYoNXdcRpi7EqzI.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-11 m-auto d-flex justify-content-between">
              <div class="col-lg-4">
                <img class="mt-3 mb-3" style="height: 90%; width: 100%; box-shadow: 0px 2px 6px 2px rgb(136, 176, 185);"
                src="https://t4.ftcdn.net/jpg/00/46/07/55/240_F_46075517_EuzqL0cGOzzPcPL5YHYoNXdcRpi7EqzI.jpg" alt="">
              </div>
              <div class="col-lg-7">
                <p style="color: white;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit dolorem ex reprehenderit voluptatibus,
                  aliquid et recusandae totam suscipit repudiandae porro beatae, temporibus iusto tenetur excepturi incidunt
                  voluptatem unde, error pariatur.
                  Blanditiis, sapiente obcaecati nostrum voluptate iusto possimus nihil. Magnam, totam id. Pariatur totam
                  consectetur inventore facere laudantium ut voluptatibus aspernatur commodi. Consectetur, alias quis
                  aperiam facilis porro optio soluta tenetur?
                  Tempore assumenda ullam quidem! Consequuntur ut aliquid illum ad cum dolorem ducimus nihil numquam esse
                  itaque voluptates molestiae aliquam minima obcaecati, at in autem officia eos quibusdam voluptate.
                  Quibusdam, consequuntur!
                  Minus magni quis itaque sunt corrupti ipsam, molestias repudiandae aliquam aspernatur pariatur quaerat?
                  </p>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-11 m-auto d-flex justify-content-between">
              <div class="col-lg-7">
                <p style="color: white;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit dolorem ex reprehenderit voluptatibus,
                  aliquid et recusandae totam suscipit repudiandae porro beatae, temporibus iusto tenetur excepturi incidunt
                  voluptatem unde, error pariatur.
                  Blanditiis, sapiente obcaecati nostrum voluptate iusto possimus nihil. Magnam, totam id. Pariatur totam
                  consectetur inventore facere laudantium ut voluptatibus aspernatur commodi. Consectetur, alias quis
                  aperiam facilis porro optio soluta tenetur?
                  Tempore assumenda ullam quidem! Consequuntur ut aliquid illum ad cum dolorem ducimus nihil numquam esse
                  itaque voluptates molestiae aliquam minima obcaecati, at in autem officia eos quibusdam voluptate.
                  Quibusdam, consequuntur!
                  Minus magni quis itaque sunt corrupti ipsam, molestias repudiandae aliquam aspernatur pariatur quaerat?
                  </p>
              </div>
              <div class="col-lg-4">
                <img class="mt-3 mb-3" style="height: 90%; width: 100%; box-shadow: 0px 2px 6px 2px rgb(136, 176, 185);"
                src="https://t4.ftcdn.net/jpg/00/46/07/55/240_F_46075517_EuzqL0cGOzzPcPL5YHYoNXdcRpi7EqzI.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-11 m-auto d-flex justify-content-between">
              <div class="col-lg-4">
                <img class="mt-3 mb-3" style="height: 90%; width: 100%; box-shadow: 0px 2px 6px 2px rgb(136, 176, 185);"
                      src="https://t4.ftcdn.net/jpg/00/46/07/55/240_F_46075517_EuzqL0cGOzzPcPL5YHYoNXdcRpi7EqzI.jpg" alt="">
              </div>
              <div class="col-lg-7">
                <p style="color: white;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit dolorem ex reprehenderit voluptatibus,
                  aliquid et recusandae totam suscipit repudiandae porro beatae, temporibus iusto tenetur excepturi incidunt
                  voluptatem unde, error pariatur.
                  Blanditiis, sapiente obcaecati nostrum voluptate iusto possimus nihil. Magnam, totam id. Pariatur totam
                  consectetur inventore facere laudantium ut voluptatibus aspernatur commodi. Consectetur, alias quis
                  aperiam facilis porro optio soluta tenetur?
                  Tempore assumenda ullam quidem! Consequuntur ut aliquid illum ad cum dolorem ducimus nihil numquam esse
                  itaque voluptates molestiae aliquam minima obcaecati, at in autem officia eos quibusdam voluptate.
                  Quibusdam, consequuntur!
                  Minus magni quis itaque sunt corrupti ipsam, molestias repudiandae aliquam aspernatur pariatur quaerat?
                  </p>
              </div>
            </div>
          </div>
        </div>   
      </div>
      <%- include('../partials/footer') %>
</body>

<!-- <div class="container">
  <div class="row">
    <div class="col-lg-12 m-auto d-flex justify-content-between">
      <div class="col-lg-4">
        <p style="color: white;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit dolorem ex reprehenderit voluptatibus,
          aliquid et recusandae totam suscipit repudiandae porro beatae, temporibus iusto tenetur excepturi incidunt
          voluptatem unde, error pariatur.
          Blanditiis, sapiente obcaecati nostrum voluptate iusto possimus nihil. Magnam, totam id. Pariatur totam
          consectetur inventore facere laudantium ut voluptatibus aspernatur commodi. Consectetur, alias quis
          aperiam facilis porro optio soluta tenetur?
          Tempore assumenda ullam quidem! Consequuntur ut aliquid illum ad cum dolorem ducimus nihil numquam esse
          itaque voluptates molestiae aliquam minima obcaecati, at in autem officia eos quibusdam voluptate.
          Quibusdam, consequuntur!
          Minus magni quis itaque sunt corrupti ipsam, molestias repudiandae aliquam aspernatur pariatur quaerat?
          </p>
      </div>
      <div class="col-lg-7">
        <img class="mt-3 mb-3" style="margin-left: -100px; height: 350px; width: 500px; box-shadow: 0px 2px 6px 2px rgb(136, 176, 185);"
        src="https://t4.ftcdn.net/jpg/00/46/07/55/240_F_46075517_EuzqL0cGOzzPcPL5YHYoNXdcRpi7EqzI.jpg" alt="">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 m-auto d-flex justify-content-between">
      <div class="col-lg-4">
        <img class="mt-3 mb-3" style="margin-left: -100px; height: 350px; width: 500px; box-shadow: 0px 2px 6px 2px rgb(136, 176, 185);"
        src="https://t4.ftcdn.net/jpg/00/46/07/55/240_F_46075517_EuzqL0cGOzzPcPL5YHYoNXdcRpi7EqzI.jpg" alt="">
      </div>
      <div class="col-lg-7">
        <p style="color: white;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit dolorem ex reprehenderit voluptatibus,
          aliquid et recusandae totam suscipit repudiandae porro beatae, temporibus iusto tenetur excepturi incidunt
          voluptatem unde, error pariatur.
          Blanditiis, sapiente obcaecati nostrum voluptate iusto possimus nihil. Magnam, totam id. Pariatur totam
          consectetur inventore facere laudantium ut voluptatibus aspernatur commodi. Consectetur, alias quis
          aperiam facilis porro optio soluta tenetur?
          Tempore assumenda ullam quidem! Consequuntur ut aliquid illum ad cum dolorem ducimus nihil numquam esse
          itaque voluptates molestiae aliquam minima obcaecati, at in autem officia eos quibusdam voluptate.
          Quibusdam, consequuntur!
          Minus magni quis itaque sunt corrupti ipsam, molestias repudiandae aliquam aspernatur pariatur quaerat?
          </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 m-auto d-flex justify-content-between">
      <div class="col-lg-4">
        <p style="color: white;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit dolorem ex reprehenderit voluptatibus,
          aliquid et recusandae totam suscipit repudiandae porro beatae, temporibus iusto tenetur excepturi incidunt
          voluptatem unde, error pariatur.
          Blanditiis, sapiente obcaecati nostrum voluptate iusto possimus nihil. Magnam, totam id. Pariatur totam
          consectetur inventore facere laudantium ut voluptatibus aspernatur commodi. Consectetur, alias quis
          aperiam facilis porro optio soluta tenetur?
          Tempore assumenda ullam quidem! Consequuntur ut aliquid illum ad cum dolorem ducimus nihil numquam esse
          itaque voluptates molestiae aliquam minima obcaecati, at in autem officia eos quibusdam voluptate.
          Quibusdam, consequuntur!
          Minus magni quis itaque sunt corrupti ipsam, molestias repudiandae aliquam aspernatur pariatur quaerat?
          </p>
      </div>
      <div class="col-lg-7">
        <img class="mt-3 mb-3" style="margin-left: -100px; height: 350px; width: 500px; box-shadow: 0px 2px 6px 2px rgb(136, 176, 185);"
        src="https://t4.ftcdn.net/jpg/00/46/07/55/240_F_46075517_EuzqL0cGOzzPcPL5YHYoNXdcRpi7EqzI.jpg" alt="">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 m-auto d-flex justify-content-between">
      <div class="col-lg-4">
        <img class="mt-3 mb-3" style="margin-left: -100px; height: 350px; width: 500px; box-shadow: 0px 2px 6px 2px rgb(136, 176, 185);"
              src="https://t4.ftcdn.net/jpg/00/46/07/55/240_F_46075517_EuzqL0cGOzzPcPL5YHYoNXdcRpi7EqzI.jpg" alt="">
      </div>
      <div class="col-lg-7">
        <p style="color: white;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit dolorem ex reprehenderit voluptatibus,
          aliquid et recusandae totam suscipit repudiandae porro beatae, temporibus iusto tenetur excepturi incidunt
          voluptatem unde, error pariatur.
          Blanditiis, sapiente obcaecati nostrum voluptate iusto possimus nihil. Magnam, totam id. Pariatur totam
          consectetur inventore facere laudantium ut voluptatibus aspernatur commodi. Consectetur, alias quis
          aperiam facilis porro optio soluta tenetur?
          Tempore assumenda ullam quidem! Consequuntur ut aliquid illum ad cum dolorem ducimus nihil numquam esse
          itaque voluptates molestiae aliquam minima obcaecati, at in autem officia eos quibusdam voluptate.
          Quibusdam, consequuntur!
          Minus magni quis itaque sunt corrupti ipsam, molestias repudiandae aliquam aspernatur pariatur quaerat?
          </p>
      </div>
    </div>
  </div>
</div> -->